@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #ECF2F8;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 730px;
  min-height: 100vh;
  margin: 0 auto;
}
.main .container {
  display: grid;
  height: 280px;
  grid-template-columns: 285px 1fr;
  gap: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}
.main .container .photo img {
  height: 280px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main .container .texts {
  padding: 32px 40px 32px 0;
}
.main .container .texts .main_text {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.015625rem;
  color: #48556A;
}
.main .container .texts .paragrapher {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  letter-spacing: 0.0075rem;
  color: #6E8098;
}
.main .container .texts .avatar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .container .texts .avatar .avatar_information {
  display: flex;
}
.main .container .texts .avatar .avatar_information .information span {
  display: block;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  letter-spacing: 0.0075rem;
  color: #9DAEC2;
}
.main .container .texts .avatar .avatar_information .information .avatar_name {
  font-weight: 700;
  color: #48556A;
}
.main .container .texts .avatar .avatar_information .photo img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 16px;
}
.main .container .texts .avatar .hidden-share {
  display: none;
  position: absolute;
  background-color: #48556A;
  right: -133px;
  top: -76px;
  padding: 18px 37px 18px 37px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
}
.main .container .texts .avatar .hidden-share span {
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  color: #9DAEC2;
  letter-spacing: 0.3125rem;
  margin-right: 21px;
}
.main .container .texts .avatar .hidden-share img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
.main .container .texts .avatar .hidden-share img:last-child {
  margin-right: 0;
}
.main .container .texts .avatar .hidden-share::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 15px 15px 0 15px;
  border-style: solid;
  border-color: #48556A transparent transparent transparent;
}
.main .container .texts .avatar .icon-share {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.main .container .texts .avatar .icon-share:hover::before {
  background-color: #48556A;
}
.main .container .texts .avatar .icon-share::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -8px;
  z-index: -1;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #ECF2F8;
}

@media (max-width: 375px) {
  .main {
    max-width: 327px;
    min-height: 15vh;
  }
  .main .container {
    gap: 0;
    grid-template-columns: 1fr;
    height: 0px;
  }
  .main .container .photo {
    background-color: #FFFFFF;
  }
  .main .container .texts {
    background-color: #FFFFFF;
    padding: 32px 32px 32px 32px;
  }
  .main .container .texts .main_text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
  }
  .main .container .texts .avatar .hidden-share {
    top: -10px;
    right: -31px;
    width: 327px;
  }
}/*# sourceMappingURL=main.css.map */