@import 'base';
@import 'variables';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 730px;
  min-height: 100vh;
  margin: 0 auto;
  
  .container {
    display: grid;  
    height: 280px;
    grid-template-columns: 285px 1fr;
    gap: 40px;
    background-color: $c0;
    border-radius: 10px;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
    
    .photo {
      img {
        height: 280px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    .texts {
      padding: 32px 40px 32px 0;

      .main_text {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.015625rem;
        color: $p1;
      }
      
      .paragrapher {
        margin-top: 12px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.25rem;
        letter-spacing: 0.0075rem;
        color: $p2;
      }

      .avatar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .avatar_information {
          display: flex;

          .information {
            span {
              display: block;
              font-weight: 500;
              font-size: 0.8125rem;
              line-height: 1.25rem;
              letter-spacing: 0.0075rem;
              color: $p3;
            }
    
            .avatar_name {
              font-weight: 700;
              color: $p1;
            }
          }
  
          .photo {
            img {
              width: 40px;
              height: 40px;
              border-radius: 100%;
              margin-right: 16px;
            }
          }
        }

        .hidden-share {
          display: none;
          position: absolute;
          background-color: $p1;
          right: -133px;
          top: -76px;
          padding: 18px 37px 18px 37px;
          border-radius: 10px;
          box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);

          span {
            font-weight: 500;
            font-style: normal;
            font-size: 0.8125rem;
            color: $p3;
            letter-spacing: 0.3125rem;
            margin-right: 21px;
          }

          img {
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin-right: 16px;
          }

          img:last-child {
            margin-right: 0;
          }
        }

        .hidden-share::before {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          border-width: 15px 15px 0 15px;
          border-style: solid;
          border-color: $p1 transparent transparent transparent;
        }

        .icon-share {
          position: relative;
          z-index: 1;
          cursor: pointer;

          &:hover::before {
            background-color: $p1;
          }
        }

        .icon-share::before{
          content: "";
          position: absolute;
          top: -5px;
          right: -8px;
          z-index: -1;
          width: 32px;
          height: 32px;
          border-radius: 100%;
          background-color: $c1;
        }
      }
    }
  }
}

@media(max-width: 375px) {
  .main {
    max-width: 327px;
    min-height: 15vh;

    .container {
      gap: 0;
      grid-template-columns: 1fr;
      height: 0px;

      .photo {
        background-color: $c0;
      }

      .texts {
        background-color: $c0;
        padding: 32px 32px 32px 32px;

        .main_text {
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: 0.0125rem;
        }

        .avatar {
          .hidden-share {
            top: -10px;
            right: -31px;
            width: 327px;
          }
        }
      }
    }
  }
}