@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.bg-image-top {
  background-image: url("../images/bg-pattern-top-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -99999;
  top: -100%;
  bottom: 0;
  left: -35%;
  right: 0;
}

.bg-image-bottom {
  background-image: url("../images/bg-pattern-bottom-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -99999;
  top: 0;
  bottom: -50%;
  left: 0;
  right: 20%;
}

.main {
  margin-top: 118px;
  height: 100vh;
}
.main .container {
  display: grid;
  grid-template-columns: 445px 1fr 1fr 1fr;
  max-width: 1110px;
  margin: 0 auto;
}
.main .container .about .about-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3rem;
  letter-spacing: -0.125rem;
  color: #512051;
}
.main .container .about .about-p {
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.5625rem;
  letter-spacing: -0.0395833125rem;
  color: #927B91;
}
.main .container .rate {
  grid-column: 2/5;
}
.main .container .rate .rates-ul {
  display: flex;
  flex-direction: column;
}
.main .container .rate .rates-ul li:first-child {
  margin-left: 125px;
}
.main .container .rate .rates-ul li:nth-child(2) {
  margin-left: 173px;
}
.main .container .rate .rates-ul li:last-child {
  margin-left: 220px;
}
.main .container .rate .rates-ul li {
  display: flex;
  background-color: #F7F2F7;
  margin-bottom: 16px;
  align-items: center;
  padding-left: 23.55px;
  width: 445px;
  border-radius: 8px;
}
.main .container .rate .rates-ul li img {
  width: 16.55px;
  margin: 20px 8.45px 20px 0;
}
.main .container .rate .rates-ul li .rate-span {
  display: block;
  padding-left: 23.55px;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 0.9775rem;
  color: #512051;
}
.main .container .clients {
  grid-column: 1/5;
}
.main .container .clients .clients-list {
  display: flex;
  flex-wrap: wrap;
}
.main .container .clients .clients-list li:first-child {
  margin-top: 71px;
}
.main .container .clients .clients-list li:nth-child(2) {
  margin-top: 87px;
}
.main .container .clients .clients-list li:last-child {
  margin-top: 103px;
  margin-right: 0;
}
.main .container .clients .clients-list li {
  width: 350px;
  height: 234px;
  background-color: #512051;
  padding: 40px 32px;
  margin-right: 30px;
  border-radius: 8px;
}
.main .container .clients .clients-list li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 23px;
}
.main .container .clients .clients-list li .client {
  display: flex;
  align-items: center;
}
.main .container .clients .clients-list li .client .client-information {
  display: flex;
  flex-direction: column;
}
.main .container .clients .clients-list li .client .client-information .client-h2 {
  font-size: normal;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1rem;
  color: #FFFFFF;
}
.main .container .clients .clients-list li .client .client-information .client-span {
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1rem;
  color: #EE69A4;
}
.main .container .clients .clients-list li .client-p {
  margin-top: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: -0.0189731875rem;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .bg-image-top {
    background-image: url("../images/bg-pattern-top-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -99999;
    top: -50%;
    bottom: 0;
    left: -20%;
    right: 0;
  }
  .bg-image-bottom {
    background-image: url("../images/bg-pattern-bottom-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -99999;
    top: 0;
    bottom: -30%;
    left: 0;
    right: 20%;
  }
  .main {
    margin-top: 82px;
  }
  .main .container {
    max-width: 327px;
    grid-template-columns: 1fr;
  }
  .main .container .about {
    text-align: center;
  }
  .main .container .about .about-h1 {
    padding: 0 40px;
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .main .container .about .about-h1 .span-mobile {
    display: block;
  }
  .main .container .about .about-p {
    margin-top: 17px;
    margin-bottom: 39px;
  }
  .main .container .rate {
    grid-column: 1;
  }
  .main .container .rate .rates-ul li:first-child {
    margin-left: 0;
  }
  .main .container .rate .rates-ul li:nth-child(2) {
    margin-left: 0;
  }
  .main .container .rate .rates-ul li:last-child {
    margin-left: 0;
  }
  .main .container .rate .rates-ul li {
    width: 327px;
    flex-direction: column;
    padding-left: 0;
  }
  .main .container .rate .rates-ul li img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .main .container .rate .rates-ul li .rate-span {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .main .container .clients {
    grid-column: 1;
  }
  .main .container .clients .clients-list {
    display: flex;
  }
  .main .container .clients .clients-list li:first-child {
    margin-top: 49px;
    margin-right: 0;
  }
  .main .container .clients .clients-list li:nth-child(2) {
    margin-top: 16px;
    margin-right: 0;
  }
  .main .container .clients .clients-list li:last-child {
    margin-top: 16px;
    margin-bottom: 99px;
    margin-right: 0;
  }
  .main .container .clients .clients-list li {
    width: 327px;
  }
}/*# sourceMappingURL=main.css.map */